<html>

<head>
    <title>ASK ME BEST</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Select2 CSS --> 
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <!-- Select2 JS --> 
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

	<style>
		table {
		    width: 30px;

	}
	input {display: block;}
	input.total {margin-top: 30px;}
	.textInput2
	{
	width: 170px;
	color: #000000;
	margin-top: 0px;
	margin-left: 5px;
	height:100px;
	padding-top:0px;
	vertical-align:top;
	}
	.fakey {
	    border: solid 1px;
	    color: #ccc;
	    font-family: sans-serif;
	    font-size: .9em;
	}

	.fakey input {
	    border: none;
	    outline: none;
	    font-family: sans-serif;
	    font-size: .9em;
	    width: 200px;
	}
	</style>

</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

   <!-- Checkout Section Begin -->
   <section class="checkout spad">
       <div class="container">
           <div class="row">
           <div class="checkout__form">
            <center> <h4>Product Details</h4></center>
               <form action="#">
                   <div class="row">
                       <div class="col-lg-8 col-md-6">
                           <div class="row">
                               <div class="col-lg-6">
                                   <div class="checkout__input">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <h4>Product<span>*</span></h4>
                                        <!-- Dropdown -->       
                                        <select id='selUser' style='width: 200px;'>
                                        </select>   
                                        <div id='result'></div>
                                   </div>
                               </div>
                               <div class="col-lg-6">
                                   <div class="checkout__input">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                      <h4>Rate<span>*</span></h4>
                                      <p id="product-rice"></p>
                                   </div>
                               </div>
                           </div>

                           <div class="checkout__input">
                               <h4>Quatity<span>*</span></h4>
                           </div>
							<br>
         <center>    <input type="button" class="site-btn" onClick="add()" value="Add"/></center>
                       </div>
                       <div class="col-lg-4 col-md-7">
                           <div class="checkout__order">
                              <center>  <h4>Your Order</h4> </center>

                               <div class="checkout__order__products">Products <span>Qty</span></div>
                               <ul id="list">
                               </ul>
                               <ul>


                               <div class="checkout__input__checkbox">

                               </div>
                               <p>.........................................................................................

                                   ..........................................................................................</p>
                              <div class="checkout__order__products">Total<span id = "total"></span></div>

                              <p>.........................................................................................

                                  ..........................................................................................</p>

	                     <center>
                    <h4>Discount</h4>
					<input type="text" placeholder="Discount Amount" id="discount_amount" class="txt txt-success btn-lg float-center"  />


						 <br>



						 <input type="button" onClick="discount();" class="site-btn" Value="Apply Discount" />
						 </form>





                               <button type="submit" class="site-btn" onClick="print_bill();">Print Bill</button>
							   <br>
								    <button type="submit" class="site-btn">Clear</button>
                           </div>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </section>
</body>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/mixitup.min.js"></script>
   <script src="/static/js/owl.carousel.min.js"></script>
   <script src="/static/js/main.js"></script>
   <script>
       let data = {
           "rice1":10,
           "rice2":10,
           "rice3":10,
           "rice4":10,
           "rice5":10,
           "test":3,
           "sdf":6456,

       }
       function optionProuct(){
           let base =''
           for(let key in data){
            base+=`<option value='${data[key]}'>${key}</option>`
           }
           $("#selUser").append(base)
       }
        $(document).ready(function(){
            optionProuct()
            // Initialize select2
            $("#selUser").select2();
        
            // Read selected option
            $('#selUser').on("change",function(){
                var product = $('#selUser option:selected').text();
                var price = $('#selUser').val();
                console.log(price)
                $("#product-rice").html(price)
            });
        });
        
   </script>

</html>
